:root {
    --error-font: 16px;
    --error-t-font: 12px;
    --btn-font: 13px;
    --icon-btn-font: 11px;
    --delete-btn-font: 14px;
    --check-btn: 12px;
    --check1-btn: 14px;
    --confirm-btn: 16px;
    --confirm-text:13px;
    --pg-btn-font: 22px;
    --pg-text-font: 12px;
    --file-font: 12px;
    --b-title-font: 13px;
    --icon-font: 18px;
    --value-font: 12px;
    --item-font: 11px;
    --footer-font: 10px;
    --header-font: 14px;
    --title1-font: 15px;
    --title2-font: 16px;
    --re-icon-font: 36px;
    --ca-icon-font: 21px;
    --a-btn-font: 15px;
    --label-font: 14px;
    --p-input-font: 13px;
    --price-font: 18px;
    --icon1-font: 25px;
    --close-font: 17px;
    --amt-font: 14px;
    --field-font: 19px;
    --star-font: 9px;
    --copy-font: 29px;
    --empty-icon-font: 58px;
    --emp-text-font: 22px;
    --color-font: 20px;
    --content-font: 27px;
    --rate-font: 55px;
    --card-font: 23px;
    --large-font: 35px;
    --total-font: 31px
}