@import './color.css';

:root {
  --logo-height: 54px;
  --radius: 3px;
  --border-color: #949494;
  --input-font: 14px;
  --input-height: 36px;
  --link-font: 13px;
  --btn-width: 120px;
  --btn-height: 40px;
  --l-title-font-size: 28px;
  --l-input-font-size: 13px;
  --l-icon-font-size: 19px;
  --l-btn-font-size: 17px;
  --l-link-font-size: 13px;
}

.login_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../assets/BG.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  width: 100vw;
}

.login_logo {
  height: var(--logo-height);
  width: calc(var(--logo-height) * 3.5);
  object-fit: contain;
  margin-bottom: 10px;
}

.lg_title {
  color: var(--root-color);
  font-size: var(--l-title-font-size);
  margin: 0;
  font-family: "Montserrat";
}

.lg_title1 {
  color: var(--root-color);
  font-size: var(--l-icon-font-size);
  margin: 0;
  font-family: "Montserrat";
  max-width: 360px;
  text-align: center;
}

.lg_title2 {
  font-weight: 600;
}

.lg_footer {
  margin: 0;
  font-size: 13.5px;
  font-weight: 700;
  color: var(--root-color);
  font-family: "Montserrat";
}

.lg_social_back {
  position: absolute;
  bottom: 20px;
  right: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row;
}

.lg_social_link {
  background-color: transparent;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lg_social_link:hover .lg_social {
  color: #fffc;
}

.lg_social {
  color: var(--root-color);
  font-size: 22px;
}

.f_input_container {
  display: flex;
  flex-direction: column;
  margin: 30px 0 20px 0;
  position: relative;
}

.lg_input_container {
  display: flex;
  position: relative;
  flex-flow: column;
  background-color: var(--root-color);
  border-radius: 5px;
}

.lg_input_icon {
  position: absolute;
  left: 10px;
  top: 17px;
  font-size: var(--l-icon-font-size);
  color: var(--text-color);
}

.f_input_label {
  color: var(--text2-color);
  font-size: var(--label-font-size);
  padding-left: 2px;
  font-weight: 550;
}

.f_input_container:focus-within .f_input_label, .lg_input_container:focus-within .f_input_label {
  color: var(--success-color);
}

.f_input_container:focus-within .lg_input_icon, .lg_input_container:focus-within .lg_input_icon {
  color: var(--logo1-color);
}

.lg_input_back {
  border-radius: 5px;
  color: var(--text-color);
  padding-left: 35px !important;
  padding-right: 5px !important;
  font-size: var(--l-input-font-size);
  height: 48px;
  border: 2px solid var(--root-color);
  background-color: var(--root-color);
  font-family: "Montserrat";
  font-weight: 400;
}

.lg_input_back:focus {
  outline: none;
}

.f_input_error {
  color: var(--danger-color);
  font-size: var(--picker-error-font-size);
  margin: 3px 0 0 2px;
}

#m_input_password {
  -webkit-text-security: circle;
}

.lg_input_show {
  position: absolute;
  right: 7px;
  top: 16px;
  font-size: var(--l-icon-font-size);
  color: var(--text-color);
}

.lg_input_show:hover {
  cursor: pointer;
  color: var(--logo-color);
}

input::-webkit-credentials-auto-fill-button {
  background-color: var(--root-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--text-color);
  -moz-text-fill-color: var(--text-color);
}
input::-webkit-input-placeholder {
  color: #7f7878;
}

.l_loader {
  display: flex;
  align-items: center;
}

.lg_login_btn {
  background-color: transparent;
  border: 2px solid var(--root-color);
  box-shadow: none;
  min-height: 48px;
  min-width: var(--btn-width);
  width: 100%;
  padding: 0 20px;
  border-radius: 5px;
  font-size: var(--l-btn-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 10px 0;
  color: var(--root-color);
  font-family: "Montserrat";
}

.lg_login_btn:hover {
  cursor: pointer;
  border: 2px solid #fffc;
  color: #fffc;
}

.lg_login_btn:disabled {
  cursor: not-allowed;
}

#lg_error .error_icon {
  color: var(--root-color);
  font-size: 18px;
  min-width: 18px;
}

#lg_error .error_text {
  color: var(--root-color);
  font-size: var(--l-input-font-size);
  margin-left: 5px;
  line-height: 17px;
}

.login_btn_row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.login_check .ant-checkbox-checked .ant-checkbox-inner, .lg_login_check .ant-checkbox-checked .ant-checkbox-inner {
  color: var(--logo1-color);
}

.login_check .ant-checkbox .ant-checkbox-inner {
  background-color: transparent;
  border-color: var(--back-color);
  height: 16px;
  width: 16px;
  border-width: 1px;
}

.login_check > span {
  color: var(--root-color);
  font-size: var(--link-font);
  font-weight: 450;
}

.lg_login_check .ant-checkbox .ant-checkbox-inner {
  background-color: transparent;
  border-color: var(--back-color);
  height: 13px;
  width: 13px;
  border-width: 1px;
}

.lg_login_link, .lg_login_check > span {
  color: var(--root-color);
  font-size: var(--l-link-font-size);
  /* font-family: "Montserrat"; */
}

.lg_login_link:hover, .lg_login_link2:hover {
  color: #fffc;
  cursor: pointer;
}

.login_center_row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.lg_login_link2 {
  color: var(--root-color);
  font-size: 13.5px;
  font-family: "Montserrat";
}

.login_language_back {
  position: absolute;
  top: 10px;
  right: 10px;
}

#login_language {
  color: var(--root-color);
  font-size: var(--menu-font-size);
}

.menu_language_btn {
  display: flex;
  align-items: center;
}

.menu_language_btn:hover {
  cursor: pointer;
}

.menu_language_btn:hover .menu_language_link {
  color: var(--link-color);
}

.menu_language_btn:hover .menu_language_arrow {
  color: var(--link-color);
}

.menu_language_link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}

.menu_language_logo {
  height: 20px;
  margin-right: 5px;
}

.down_icon_back2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  color: var(--root-color);
}

.down_icon_back2:hover{
  color: #b44af7;
}

.menu_language_back {
  padding: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.menu_language {
  color: var(--text-color);
  font-size: var(--header-font-size);
  font-weight: 500;
}

.co_gap {
  padding: 5px;
}

.co_sent_back {
  background-color: var(--success-t-color);
  border-radius: var(--radius);
  padding: 10px;
  margin-bottom: 15px;
}

.co_sent_text {
  margin: 0;
  color: var(--success-color);
  font-size: 14px;
  font-weight: 450;
}

.radio_sign_back{
  margin: 0;
}

.l_link_text {
  font-size: 13px;
  color: var(--root-color);
  margin: 0 5px 0 0;
  font-family: "Montserrat";
}

.l_center_row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.login_link1 {
  color: var(--root-color);
  font-size: var(--link-font);
  font-weight: 800;
  text-decoration: underline;
  /* font-family: "Montserrat"; */
}

.login_link1:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.lg_select_lbl_sign{
  font-size: 14px;
  color: var(--root-color);
  margin: 5px 0;
  font-family: 'Montserrat';
  font-size: 13px;
}

.pro_radio_back{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 15px;
}
.pro_radio_back span.ant-radio+*{
  color: var(--root-color);
  font-family: "Montserrat";
  font-size: 13px;
}

.pro_radio_back .ant-radio + span {
  color: var(--root-color) !important;
  /* font-family: "Montserrat" !important; */
  font-size: 13px !important;
}

.select_radio_check .ant-radio-checked .ant-radio-inner, .ant-radio:hover .ant-radio-inner {
  border-color: var(--logo1-color);
  background-color: var(--root-color);
}

.select_radio_check .ant-radio-inner:after {
  background-color: var(--logo1-color);
}

.select_radio_check .ant-radio-inner {
  border-color: var(--line-color);
}

.lg_radio_select_back_z {
  display: flex;
  flex-flow: column;
  min-width: 160px;
  margin: 10px 0 0 0;
  background-color: transparent;
  min-height: 48px;
}

.lg_select_login.ant-select .ant-select-selector {
  box-shadow: none;
  border: none;
  color: var(--text-color);
  font-size: var(--l-input-font-size);
  padding-left: 35px !important;
  font-family: "Montserrat";
  font-weight: 400;
}

.lg_select_login .ant-select-selector {
  box-shadow: none !important;
}

.lg_select_login .ant-select-selection-search {
  left: 0 !important;
}

.lg_select_login .ant-select-arrow {
  color: var(--text2-color);
  font-size: 16px;
  right: 8px;
  height: 100%;
}

.lg_select_login .ant-select-selection-placeholder {
  left: 0;
}

.lg_select_login.ant-select-multiple .ant-select-selection-search {
  -webkit-margin-start: 0;
  margin-inline-start: 0;
}

.lg_select_login .ant-select-selection-item {
  background-color: var(--root-color);
  border: none;
  padding: 0;
  font-size: var(--l-input-font-size);
  color: var(--text-color);
}
.lg_select_login.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  background-color: var(--root-color);
  border: 2px solid var(--root-color);
  border-radius: 5px;
  height: 48px;
}
.lg_select_login.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: var(--root-color) !important;
}

.lg_input_back1 {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  margin-left: 10px;
  margin-top: 10px;
}

.lg_m_input {
  border: none;
  color: var(--text-color);
  font-size: var(--l-input-font-size);
  height: 46px;
  border-radius: 5px;
  padding-left: 5px;
  background-color: var(--root-color);
}

.l_partner_check {
  display: flex;
  flex-flow: row;
  margin-top: 15px;
  align-items: center;
}

.l_partner_check_lbl {
  margin: 0 0 0 5px;
  color: var(--root-color);
  font-size: 12px;
  font-weight: 450;
  font-family: "Montserrat";
}

.l_partner_row {
  display: flex;
  flex-flow: row;
}

#l_partner {
  flex: 1;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0;
}

.f_input_back {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-radius: 0;
  border-color: var(--border-color);
  color: var(--text-color);
  font-size: var(--l-input-font-size);
  height: var(--input-height);
  background-color: var(--root-color);
}

.f_input_back:focus {
  outline: none;
  border-color: var(--success-color);
}

.l_partner_btn {
  border: none;
  box-shadow: none;
  background-color: var(--tag2-color);
  height: 36px;
  border-radius: var(--radius);
  font-size: var(--l-input-font-size);
  font-weight: 550;
  color: var(--root-color);
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
}

.l_btn {
  border: none;
  box-shadow: none;
  background-color: var(--tag2-color);
  min-height: var(--btn-height);
  min-width: var(--btn-width);
  width: 100%;
  padding: 0 20px;
  color: var(--root-color);
  border-radius: var(--radius);
  font-weight: 700;
  font-size: var(--button-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 10px 0;
}

.l_btn:hover, .l_partner_btn:hover {
  cursor: pointer;
  background-color: var(--tag3-color);
}

.l_btn:disabled, .l_partner_btn:disabled {
  background-color: var(--tag4-color);
  cursor: not-allowed;
}

.lg_partner_field {
  border: 2px solid var(--root-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 15px;
  height: 48px;
  background-color: var(--root-color);
  width: 100%;
  text-align: start;
  padding: 0 10px;
  margin-top: 3px;
}

.lg_partner_field:hover {
  cursor: pointer;
  border-color: var(--success-color);
}

.l_check_row {
  display: flex;
  flex-flow: row;
}

.l_term {
  margin: 2px 0 5px 5px;
  color: var(--root-color);
  font-size: 12px;
  font-weight: 450;
  font-family: "Montserrat";
}

.lg_term_link {
  color: var(--root-color);
  font-size: 12px;
  font-weight: 800;
  text-decoration: underline;
  font-family: "Montserrat";
}

.lg_term_link:hover {
  text-decoration-skip-ink: none;
  color: var(--root-color);
}

.ap_title {
  color: var(--text-color);
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 20px 0;
}

.cfnumber_back {
  border-radius: var(--radius);
  background-color: var(--back-color);
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cfnumber_text {
  margin: 0;
  color: var(--text-color);
  font-size: var(--input-font);
  font-weight: 500;
}

.cf_msg {
  font-size: 13px;
  color: var(--text2-color);
  text-align: center;
  line-height: 16px;
  margin: 0 0 15px 0;
}

.cfcode_lbl {
  color: var(--text-color);
  font-size: 13px;
  font-weight: 450;
  margin: 0 0 5px 10px;
}

.cfcode_input_back {
  display: flex;
  flex-flow: row;
  border-radius: var(--radius);
  background-color: var(--back-color);
  align-items: center;
  padding-right: 5px;
}

.cfcode_input {
  border-width: 0;
  border-radius: var(--radius);
  color: var(--text-color);
  font-size: var(--input-font);
  height: 40px;
  background-color: var(--back-color);
  height: 40px;
  padding: 0 10px;
  width: 100%;
}
.cfcode_input:focus {
  outline: none;
}

.cf_sec {
  color: var(--tag2-color);
  font-size: var(--l-input-font-size);
  font-weight: 550;
  margin: 0;
  width: 90px;
  text-align: right;
}

.cf_btn {
  background-color: var(--tag2-color);
  border-radius: var(--radius);
  color: var(--root-color);
  font-size: 11px;
  font-weight: 700;
  border: none;
  box-shadow: none;
  height: 30px;
  width: 160px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_back {
  background-color: #ffffff24;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-flow: column;
  padding: 30px 10px;
  border-radius: var(--radius);
  max-width: calc(100vw - 40px);
  width: 460px;
  overflow-y: scroll;
  max-height: calc(100vh - 80px);
  align-items: center;
}

.l_co_title {
  color: var(--root-color);
  font-weight: 500;
  font-size: 23px;
  margin: 15px auto 0 auto;
}

.l_co_sub {
  color: var(--root-color);
  font-weight: 550;
  font-size: 15px;
  margin: 10px auto 10px auto;
}

.l_co_text {
  color: var(--root-color);
  font-size: 13px;
  margin: 10px 5px;
}

.login_btn {
  background-color: transparent;
  border: 2px solid var(--root-color);
  box-shadow: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 13px;
  margin-top: 15px;
  color: var(--root-color);
  min-width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_btn:hover {
  cursor: pointer;
  border: 2px solid #fffc;
  color: #fffc;
}

.login_btn:disabled {
  cursor: not-allowed;
}

.radio_back {
  margin: 20px 0 0 0;
  padding: 3px 0;
}

.pro_radio {
  display: flex;
  flex-flow: row;
  margin: 5px 15px;
}