@import './color.css';

:root {
  --logo-height: 48px;
  --b-radius: 5px;
  --radius: 3px;
  --padding1: 20px;
  --padding2: 15px;
  --title-font: 15px;
  --back-width: 400px;
  --border-color: #949494;
  --input-font: 15px;
  --label-font: 15px;
  --input-height: 36px;
  --btn-height: 40px;
  --btn-width: 120px;
  --link-font: 13px;
}

.login_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../assets/login_1.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.login_logo {
    height: var(--logo-height);
    width: calc(var(--logo-height) * 3.5);
    object-fit: contain;
    margin-bottom: 10px;
}
.lg_title {
    color: var(--root-color);
    font-size: var(--lgtitle-font);
    margin: 0;
    font-family: "Montserrat";
}

.lg_title2 {
    font-weight: 600;
}

.login_language_back {
    position: absolute;
    top: 10px;
    right: 10px;
}
.menu_language_link {
    color: var(--root-color);
    font-size: var(--a-btn-font);
    font-weight: 500;
}
.menu_language_logo {
    height: 20px;
    margin-right: 5px;
}
.menu_language_btn {
    display: flex;
    align-items: center;
}
  
.menu_language_btn:hover {
    cursor: pointer;
}
.down_icon_back2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    color: var(--root-color);
}
.down_icon_back2:hover{
    color: #b44af7;
}  
.menu_language_back {
    padding: 3px 0;
    display: flex;
    flex-flow: row;
    align-items: center;
}
input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--text-color);
  -moz-text-fill-color: var(--text-color);
}
input::-webkit-credentials-auto-fill-button {
    background-color: var(--root-color);
}
.lg_input_back {
    border-radius: 5px;
    color: var(--text-color);
    padding-left: 35px !important;
    padding-right: 5px !important;
    font-size: var(--b-title-font);
    height: 48px;
    border: 2px solid var(--root-color);
    background-color: var(--root-color);
    font-weight: 400;
  }

.lg_input_back:focus {
    outline: none;
}
.lg_input_container {
    display: flex;
    position: relative;
    flex-flow: column;
    background-color: var(--root-color);
    border-radius: 5px;
}
.f_input_container {
    display: flex;
    flex-direction: column;
    margin: 30px 0 20px 0;
    position: relative;
}
.f_input_container:focus-within .f_input_label, .lg_input_container:focus-within .f_input_label {
    color: var(--success-color);
}
  
.f_input_container:focus-within .lg_input_icon, .lg_input_container:focus-within .lg_input_icon {
    color: var(--logo1-color);
}
.lg_input_icon {
    position: absolute;
    left: 10px;
    top: 16px;
    font-size: var(--field-font);
    color: var(--text-color);
}
.f_input_back1 {
    border-radius: 15px;
    color: var(--root-color);
    padding-left: 35px !important;
    font-size: var(--input-font);
    height: 40px;
    border: 2px solid #EFEFEF;
    box-shadow: 0px 4px 25px 0px #00000040;
    background-color: transparent;
}

.f_input_back1:focus {
    outline: none;
    border-color: var(--logo1-color);
}
#m_input_password {
    -webkit-text-security: circle;
}
.lg_input_show {
    position: absolute;
    right: 7px;
    top: 18px;
    font-size: var(--title2-font);
    color: var(--text-color);
}
  
.lg_input_show:hover {
    cursor: pointer;
    color: var(--logo-color);
}
.lg_login_btn {
    background-color: transparent;
    border: 2px solid var(--root-color);
    box-shadow: none;
    min-height: 48px;
    min-width: var(--btn-width);
    width: 100%;
    padding: 0 20px;
    border-radius: 5px;
    font-size: var(--color-font);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 10px 0;
    color: var(--root-color);
    font-family: "Montserrat";
  }
  
  .lg_login_btn:hover {
    cursor: pointer;
    border: 2px solid #fffc;
    color: #fffc;
  }
  
  .lg_login_btn:disabled {
    cursor: not-allowed;
  }
  .lg_login_link, .lg_login_check > span {
    color: var(--root-color);
    font-size: var(--header-font);
    font-family: "Montserrat";
  }
.login_check .ant-checkbox-checked .ant-checkbox-inner, .lg_login_check .ant-checkbox-checked .ant-checkbox-inner {
    color: var(--logo1-color);
}
.lg_login_check .ant-checkbox .ant-checkbox-inner {
    background-color: transparent;
    border-color: var(--back-color);
    height: 13px;
    width: 13px;
    border-width: 1px;
}
.login_btn_row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.lg_login_link2 {
    color: var(--root-color);
    font-size: var(--title1-font);
    font-family: "Montserrat";
    text-decoration: none;
    text-decoration-skip-ink: none;
}

.lg_login_link:hover, .lg_login_link2:hover {
    color: #fffc;
    cursor: pointer;
}
.login_center_row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.lg_footer {
    margin: 0;
    font-size: var(--title1-font);
    font-weight: 700;
    color: var(--root-color);
  }

.lg_social_back {
    position: absolute;
    bottom: 20px;
    right: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row;
}
  
.lg_social_link {
    background-color: transparent;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lg_social_link:hover .lg_social {
    color: #fffc;
}

.lg_social {
    color: var(--root-color);
    font-size: 21px;
}